#email-search{
    background-color: #004A80;
    color:#fff;
    height: 420px;
   
    .heading{
        justify-content: center;
        margin-bottom: 1rem;
        h1{
            font-weight: bold;
            font-size: 52px;
            margin-top: 2rem;
        }
    }
    .sub-heading{
        justify-content: space-around;
        margin-bottom: 1rem;
        span{
            font-size: 24px;
            color: #F6BC25;
            font-weight: 700;
        }
        h5{
            font-size: 24px;
            line-height: 29px;
        }
    }
    
    .icon-text{
        padding-left: 15px;
        .text{
            margin: 3px 5px 6px 14px;
            p{
                font-size: 16px;
                color: #F6BC25;
                font-weight: 700;
            }
        }
    }
   
    .form{
        justify-content: space-around;
        margin-bottom: 1rem;
       .form-group{
        position:relative; 
        .floating-label { 
            position:relative; 
            margin-bottom:20px; 
          }
          .floating-input , .floating-select {
            font-size:14px;
            display:block;
            width:100%;
            padding: 1.8rem 1rem 0.8rem;
            height: 23px;
            border-radius:3px ;
          }
          
          .floating-input:focus , .floating-select:focus {
               outline:none;
               border-bottom:2px solid #5264AE; 
          }
          
          label {
            font-size: 16px;
            color: #9B9B9B;
            letter-spacing: 2px;
            text-transform: uppercase;
            position:absolute;
            pointer-events:none;
            line-height: 18px;
            left:16px;
            top: 13px;
            transition:0.2s ease all; 
            -moz-transition:0.2s ease all; 
            -webkit-transition:0.2s ease all;
          }
          
          .floating-input:focus ~ label, .floating-input:not(:placeholder-shown) ~ label {
            top: 2px;
            font-size:14px;
            
          }
          
          .floating-select:focus ~ label , .floating-select:not([value=""]):valid ~ label {
            top:2px;
            font-size:14px;
          
          }
          
       }
            input[type=email]{
                display: inline-block;
                // width: 780px;
                font-size: 16px;
                color: #9B9B9B;
                letter-spacing: 2px;
                padding: 12px 13px;
                line-height: 18px;
                text-transform: uppercase;

            }
          
            .btn-submit{
                background-color: #F6BC25 ;
                font-size: 16px;
                font-weight: bold;
                color: #004A80;
                letter-spacing: 1px;
                padding: 10px 30px;
                border-radius: 6px;
                 width: 9rem;
                cursor: pointer;
                &:hover{
                    background-color: #F2DA56;
                }
            }
        
    }
   
}