@import "email-section";
@import "list-section";
@import "footer";

body{
    font-family: 'Arimo', sans-serif;
    box-sizing: border-box;
}

@media only screen and (max-width: 805px) {
    #email-search{
        height: 448px;
           .heading{
            text-align: center;
            h1{
                font-size: 48px;
            }
           }
           .sub-heading{
            text-align: center;
            h5{
                font-size: 20px;
            }
           }
           .form{
               .btn-submit{
                   width: 8rem;
               }
           }
           .icon-text{
            .text{
                p{
                    font-size: 16px;
                }
            }
        }   
    }   
    #list-section{
        .heading{
            h2{
                font-size: 48px;
            }
        }
        .para{   
            p{
                font-size: 20px;
                line-height: 28px;
            }
      } 
      .list{
          ol li{
              width: auto;
          }
      }
        
}
}
@media only screen and (max-width: 480px) {
   #email-search{
    height: 503px;
       .heading{
        text-align: center;
        h1{
            font-size: 38px;
        }
       }
       .sub-heading{
        text-align: center;
        h5{
            font-size: 18px;
        }
       }
       .form{
         input[type=email]{
                width: 100%;
                margin-bottom: 4px;
            }
          
            .btn-submit{
                width: 100%;
            }
        
       }
      
   }
   #list-section{
       .heading {
        margin: 20px auto;
           h2{
            font-size: 38px;
            line-height: 40px;
            text-align: center;
            margin-bottom: 0.3rem;
            
           }
       }
       .para{
        margin: 0 auto;
        p{
            font-size: 18px;
            line-height: 28px;
        }
       }
       .list{
           flex-direction: column;
          margin: 0 20px;
          ol li{
            width: auto;
            font-size: 16px;
            line-height: 24px;
            h6{
                font-size: 20px;
            }
        }
       }
      
   }
   footer{
       .link{
           text-align: center;
       }
   }
}

 
